stages:
  - build
  - test
  - package
  - security
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  NODE_ENV: "production"

cache:
  paths:
    - backend/.m2/repository
    - frontend/node_modules

build_backend:
  stage: build
  image: maven:3.9-eclipse-temurin-17
  script:
    - cd backend
    - mvn -B -DskipTests clean package
  artifacts:
    paths:
      - backend/target/*.jar

test_backend:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  script:
    - cd backend
    - mvn -B test
  artifacts:
    when: always
    reports:
      junit: backend/target/surefire-reports/TEST-*.xml
    paths:
      - backend/target/site/jacoco

build_frontend:
  stage: build
  image: node:20
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend/dist

test_frontend:
  stage: test
  image: node:20
  script:
    - cd frontend
    - npm ci
    - npm test
  allow_failure: true

package_artifacts:
  stage: package
  image: alpine:3.20
  script:
    - mkdir -p artifacts
    - cp backend/target/*.jar artifacts/ticketflow.jar
    - tar -czf artifacts/ticketflow-frontend.tar.gz -C frontend/dist .
  artifacts:
    paths:
      - artifacts/

# Jobs sécurité (à activer/compléter en atelier)
# dependency_check:
#   stage: security
# zap_baseline:
#   stage: security

deploy_staging:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache openssh-client ansible
  script:
    - cd infra/ansible
    - ansible-playbook -i inventories/staging/hosts.yml playbooks/site.yml --ask-vault-pass
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"

deploy_prod:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache openssh-client ansible
  script:
    - cd infra/ansible
    - ansible-playbook -i inventories/prod/hosts.yml playbooks/site.yml --ask-vault-pass
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
